<form method="post" action="{{ path('app_imagen_aprobados') }}"
      onsubmit="return confirm('¿Estás seguro de aprobar todas las imágenes?');">
    <input type="hidden" name="_token" value="{{ csrf_token('aprobar') }}">
    <button class="btn btn-sm btn-danger">
        Aprobar Todo
    </button>
</form>